body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f5f9fc;
	padding: 50px;

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1, h2 {
		font-weight: 300;
	}

	.results {
		color: #7a92a5;
		font-size: 14px;
		margin: 12px 5px;
		display: inline;
		position: relative;
	}
	.markAs{
		font-size: 14px;
	}

	header {
		width: 1000px;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		border: 1px solid #fff;
		padding: 10px 10px;
		position: relative;

		input {
			width: 980px;
			padding: 4px;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	.orders {
		margin: 0;
		padding: 0;

		.orderCard {
			position: relative;
			width: 980px;
			border-radius: 8px;
			background-color: white;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin: 0 -1px 14px -1px;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;

			&:hover {
				box-shadow: 0 2px 6px 1px #a5a5a5;
			}
			


			.generalData {
				padding-top: 6px;
				display: inline-block;
				width: 45%;
			}

			.fulfillmentData {
				display: inline-block;
				vertical-align: top;
				width: 25%;
			}

			.paymentData {
				display: inline-block;
				text-align: end;
				width: 30%;
			}
			
			.collapsible {
				background-color: #B0C4DE;
				color: white;
				cursor: pointer;
				padding: 16px;
				width: 100%;
				border: none;
				text-align: left;
				outline: none;
				font-size: 14px;
			  }
			  
			  .active, .collapsible:hover {
				background-color: #778899;
			  }
			  
			  .content {
				padding: 5px 18px;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.2s ease-out;
				background-color: #f1f1f1;
				font-size: 14px;
				position: relative;
				flex-wrap: wrap;
				
			
				.item{
					font-size: 14px;
					font-weight: 400;
					color: #483D8B;
					margin: 4px 0;
					vertical-align: top;
					display: flex;
					flex: 0 0 25%;
	
				}
				.items{
					font-size: 14px;
					font-weight: 800;
					color: #483D8B;
					margin: 4px 0;
					position: relative;
					display: inline-block;
					
			
		
				}
				.itemImage{
					text-align: right;
					vertical-align: top;
					display: flex;
					flex: 0 0 33.333333%;
				}
				.ordertime{
					text-align: left;
					vertical-align: top;
					position: relative;
					flex: 0 0 33.333333%;
				}
			  }


			  

		}
	}

	.custom-select {
		position: relative;
		font-family: Arial;
		width:200px
	  }
	  
	  .custom-select select {
		display: none; /*hide original SELECT element:*/
	  }
	  
	  .select-selected {
		background-color: DodgerBlue;
	  }
	  
	  /*style the arrow inside the select element:*/
	  .select-selected:after {
		position: absolute;
		content: "";
		top: 14px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #fff transparent transparent transparent;
	  }
	  
	  /*point the arrow upwards when the select box is open (active):*/
	  .select-selected.select-arrow-active:after {
		border-color: transparent transparent #fff transparent;
		top: 7px;
	  }
	  
	  /*style the items (options), including the selected item:*/
	  .select-items div,.select-selected {
		color: #ffffff;
		padding: 8px 16px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
		user-select: none;
	  }
	  
	  /*style items (options):*/
	  .select-items {
		position: absolute;
		background-color: DodgerBlue;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
	  }
	  
	  /*hide the items when the select box is closed:*/
	  .select-hide {
		display: none;
	  }
	  
	  .select-items div:hover, .same-as-selected {
		background-color: rgba(0, 0, 0, 0.1);
	  }
	.center {
		text-align: center;
	}
	  
	.pagination {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	  
	.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	}

	.pagination a.active, pagination a {
	background-color:  #6495ED;
	color: white;
	border: 1px solid #4CAF50;
	}
	
	.pageItem{
		display: inline;
		background: #d9effd;

	}
	.pagination a:hover:not(.active) {background-color: #6495ED;
	}



	h4 {
		font-size: 14px;
		font-weight: 300;
		color: #7a92a5;
		margin: 4px 0;
	}

	h5 {
		font-size: 12px;
		font-weight: 300;
		color: #7a92a5;
		margin: 0;
	}

	h6 {
		font-size: 10px;
		font-weight: 400;
		color: #7a92a5;
		margin: 0;
	}

	img {
		margin-top: 4px;
	}


	a {
		display: block;
		cursor: pointer;
		color: #3899ec;
		font-weight: 500;
		font-size: 12px;
	}

}
